body {
  background-color: whitesmoke;
  padding: 0;
  width: 1900px;
  position: relative;
  margin: 0 auto;
}
.header {
  height: 100px;
  background-color: white;
  padding: 0 20%;
}
.dis::after {
  content: "";
  display: block;
  clear: both;
}
.upp::after {
  content: "";
  display: block;
  clear: both;
}
.content::after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  float: left;
  margin-top: 30px;
}
.logo a {
  text-decoration: none;
  display: block;
  width: 105px;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 30px;
}
.header .logOut {
  float: right;
  margin-top: 30px;
}
.header .logOut a {
  display: block;
  width: 110px;
  height: 40px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 40px;
}

.outer {
  width: 540px;
  height: 265px;
  margin-left: 20%;
  background-color: white;
  position: absolute;
  overflow: hidden;
  border: white 10px solid;
}

.img {
  /* width: 2800px; */
  position: absolute;
  /* 向左560px一张 */
  transition: all 0.5s linear;
  left: 0;
}

.img li {
  float: left;
  margin: 0;
}

.but {
  position: absolute;
  width: 540px;
}
.but1,
.but2 {
  font-size: 30px;
  width: 25px;
  position: relative;
  background-color: slategrey;
  opacity: 0.5;
}
.but1 {
  float: left;
  top: 100px;
}
.but2 {
  top: 100px;
  float: right;
}

#navDiv {
  position: absolute;
  bottom: 10px;
  height: 20px;
}
#navDiv a {
  width: 15px;
  height: 15px;
  float: left;
  background-color: rgb(241, 156, 156);
  margin: 0 5px;
  /* 透明度 */
  opacity: 0.5;
  margin-top: 10px;
}
#navDiv a:hover {
  height: 20px;
  transition: all 0.2s linear;
  margin-top: 0;
}

.tit1 {
  font-size: 25px;
  font-weight: 700;
  margin: 70px auto 5px 380px;
  width: 380px;
}
.tit2 {
  font-size: 15px;
  font-weight: 80;
  margin: 5px auto 50px 380px;
  width: 380px;
}

.top {
  width: 500px;
  float: left;
  position: relative;
  margin-left: 20px;
}
.nav {
  float: right;
  margin: 90px 20% auto auto;
  position: relative;
}
.nav li {
  float: left;
  width: 120px;
  position: relative;
  text-align: center;
}
.nav li a {
  font-weight: 900;
  color: black;
  font-size: 10px;
}
/* .nav li a:hover {
  border-bottom: 3px solid gray;
} */

.nav-marker {
  height: 10px;
  width: 600px;
  /* background-color: red; */
  float: right;
  margin-left: 20%;
  position: relative;
}
#nav-h {
  width: 80px;
  height: 5px;
  background-color: #8c9ca7;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.5s ease-in-out 20ms;
  opacity: 0.5;
}

.right {
  height: 290px;
  width: 560px;
  background-color: white;
  margin-left: 51%;
  position: absolute;
}
.box1 {
  border: whitesmoke 1px solid;
  height: 100px;
  position: relative;
}
.box1 h2 {
  margin: 45px;
  display: block;
  position: absolute;
  font-weight: 700;
}
.box1 button {
  position: absolute;
  top: 30px;
  right: 50px;
  height: 40px;
  width: 90px;
  opacity: 0.6;
  background-color: white;
}
.box2 {
  border: whitesmoke 1px solid;
}

.tab {
  line-height: 60px;
  text-align: center;
  width: 560;
  margin-left: 40px;
}
.tab th {
  border-spacing: 35px;
  font-weight: bold;
}
.tab button {
  background-color: yellowgreen;
  height: 30px;
  width: 65px;
  border: none;
  opacity: 0.7;
}
.tab td {
  width: 100px;
  font-size: 10px;
}
.th,
.tab button {
  margin-left: 160px;
  display: block;
}
.th {
  text-align: left;
}
#tab1 {
  height: 350px;
  width: 1140px;
  /* background-color: yellowgreen; */
  margin-top: 300px;
  margin-left: 20%;
}
.boxT {
  height: 350px;
  width: 1150px;
  background-color: rgb(255, 255, 255);
}
.boxl {
  height: 380px;
  width: 560px;
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-top: 20px;
  float: left;
}
.boxr {
  height: 380px;
  width: 570px;
  background-color: rgb(255, 255, 255);
  margin-right: 19.5%;
  margin-top: 20px;
  float: right;
}

.footer {
  height: 290px;
  background-color: rgb(41, 38, 38);
  margin-top: 10px;
  border-radius: 10px;
}

.footer .logo {
  margin: 80px 400px;
}
.foot tr td {
  color: white;
  width: 150px;
  display: inline-block;
  margin: 10px;
}
.foot {
  display: inline-block;
  margin: 80px 0 0 -200px;
}
